rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // PERMITE TODO - SOLO PARA DESARROLLO
    match /{document=**} {
      allow read, write: if true;
    }
  }
}